<form action="<%= planet_path @planet %>" method="post">
  <p>Name: <input type="text" name="planet[name]" autofocus value="<%= @planet.name %>"></p>
  <p>Image: <input type="url" name="planet[image]" value="<%= @planet.image %>"></p>
  <p>Orbit: <input type="text" name="planet[orbit]" value="<%= @planet.orbit %>"></p>
  <p>Diameter: <input type="text" name="planet[diameter]" value="<%= @planet.diameter %>"></p>
  <p>Mass: <input type="text" name="planet[mass]" value="<%= @planet.mass %>"></p>
  <p>Moons: <input type="number" name="planet[moons]" value="<%= @planet.moons %>"></p>
  <p><button>Update planet</button></p>
</form>