<h2><%= @planet.name %></h2>
<p><%= image_tag( @planet.image ) if @planet.image %></p>
<p>Orbit: <%=  @planet.orbit %></p>
<p>Mass: <%= @planet.mass %></p>
<p>Diameter: <%= @planet.diameter %></p>
<p>Moons: <%= @planet.moons %></p>
