<% @artists.each do |artist| %>
  <ul>
    <li><%= image_tag(artist.image, :class => 'thumb') %></li>
    <li><%= link_to(artist.name, artist) %></li>
    <li><%= artist.nationality %></li>
    <li><%= artist.dob.strftime('%B %d %Y') if artist.dob %></li>
    <li><%= artist.period %></li>
    <li><%= link_to('Edit', edit_artist_path(artist)) %></li>
    <li><%= link_to('Delete', artist, :data => {:confirm => 'Are you sure?', :method => :delete}) %></li>
  </ul>
<% end %>