<% @works.each do |work| %>
  <ul>
    <li><%= image_tag(work.image, :class => 'thumb') %></li>
    <li><%= link_to(work.title, work) %></li>
    <li><%= link_to(work.artist.name, work.artist) if work.artist %></li>
    <li><%= work.year %></li>
    <li><%= work.medium %></li>
    <li><%= work.style %></li>
    <li><%= link_to('Edit', edit_work_path(work)) %></li>
    <li><%= link_to('Delete', work, :data => {:confirm => 'Are you sure?', :method => :delete }) %></li>
  </ul>
<% end %>