%ul#priority-list
  - @priorities.each do |priority|
    %li
      %span.name= priority.name
      %span.color.invisible= priority.color

= form_tag '/priorities', :class => 'invisible', :id => 'priorities' do
  = label_tag :name
  = text_field_tag :name

  = label_tag :color
  = color_field_tag :color

  = label_tag :urgency
  = number_field_tag :urgency

  = submit_tag 'Add priority'
  = button_tag 'Cancel', :id => 'cancel_priority'

= button_tag 'New priority', :id => 'new_priority'
