- if @user.errors.any?
  %h1 YOU MASSIVE IDIOT
  %ol
    - @user.errors.full_messages.each do |msg|
      %li= msg

%div.row
  %div.col-md-9
    = form_for @user do |f|
      %div.formgroup
        = f.label :username
        = f.text_field :username, :autofocus => true, :class => 'form-control'

      %div.formgroup
        = f.label :avatar
        = f.url_field :avatar, :class => 'form-control'

      %div.formgroup
        = f.label :password
        = f.password_field :password, :class => 'form-control'

      %div.formgroup
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :class => 'form-control'

      = f.submit :class => 'btn btn-success'

  %div.col-md-3
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, optio, doloribus sequi libero eligendi ex nesciunt nulla labore architecto minus dolores unde et provident! Culpa, ipsa cumque voluptatem enim atque.