<!DOCTYPE html>
<html>
<head>
  <title>Todor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Sign up', new_user_path) %></li>
    <li><%= link_to('Log in', login_path) %></li>
    <% if @current_user %>
      <li><%= link_to('Priorities', priorities_path) %></li>
      <li><%= link_to("Log out #{ @current_user.name }", login_path, :method => :delete) %></li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
